.card-common{
          width:100%;
          height: auto;
          /* padding: 16px; */
          background-color: var(--white);
          border-radius: 12px;
          box-shadow:2px 2px var(--gray);
          border: 1px solid var(--gray);
}