.details-arrow-icon{
          display: inline-block;
          padding: 8px;
          border-radius: 4px;
          margin-right: 8px;
          text-align: center;
          width: 30px;
          height: 30px;
          background-color: white;
          color: var(--blue);
  }

  .details-first-card{
          background-color:var(--white);
          height: auto;
          border-radius: 12px;
          box-shadow:2px 2px var(--gray);
          padding: 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

  }

  .share-btn{
          margin-left: 16px ;
          width: 200px;
          height: 50px;
  }

  .details-share-row{
          border-bottom: 1px solid var(--gray);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0 16px 0;
  }

  .share-tabs{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap:12px;
          padding: 8px 0;
  }

  .details-btn{
          display: block;
          width: 100%;
          height: 40px;
          border-radius: 8px;
          outline: none;
          border: 1px solid var(--gray);
          font-size: medium;
          padding: 8px 0;
          text-transform: uppercase;
          color: var(--black);
          font-weight: bold;
          letter-spacing: 1px;
          cursor: pointer;


  }
  .details-btn-active{

        display: block;
          width: 100%;
          height: 40px;
          border-radius: 8px;
          outline: none;
          border: 1px solid var(--gray);
          font-size: medium;
          padding: 8px 0;
          text-transform: uppercase;
          color: var(--black);
          font-weight: bold;
          letter-spacing: 1px;
          cursor: pointer;
          color: var(--white);
          font-weight: bold;
          background-image: linear-gradient(to right,var(--green) 0%, var(--blue)  90%, var(--blue)  90%);


  }

  .details-card{
          background-color:var(--white);
          border-radius: 12px;
          box-shadow:2px 2px var(--gray);
          margin-top: 12px;
  }
  .details-card h4{
          background-color: var(--black);
          height: 60px;
          border-radius: 12px 12px 0 0;
          color: var(--white);
          padding:24px 12px;
  }
  .fn-details{
        padding: 24px;
        
 }

 .fn-card-div{
        padding: 16px;
        
 }

 .fn-details h3{
        margin-bottom: 24px;
 }
 .log-details-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
        
 }


  .fund-details-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:24px
  }

  .fd-p{
        padding: 16px 0
  }

  
  